<!DOCTYPE html>
<html lang="en" ng-app="swabhavtechlabs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Service</title>
    <script src="angular.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"> </script>
</head>

<body ng-controller="employeeController">
    <div class="jumbotron">
        <h2> Employee Form</h2>
    </div>
    <form action="">
        <div class="form-group">
            <label>Employee Id:</label>
            <input type="number" class="form-control" ng-model="empCopy.id" id="Id">
        </div>
        <div class="form-group">
            <label>Employee Name:</label>
            <input type="text" class="form-control" ng-model="empCopy.name" id="Name">
        </div>
        <div class="form-group">
            <label>Designation:</label>
            <select class="form-control" id="Designation"></select>
        </div>
        <div class="form-group">
            <label>Manager Id:</label>
            <select class="form-control" id="ManagerId"></select>
        </div>
        <div class="form-group">
            <label>Joining Date:</label>
            <input type="date" class="form-control" id="JoiningDate">
        </div>
        <div class="form-group">
            <label>Salary:</label>
            <input type="number" class="form-control" id="Salary">
        </div>
        <div class="form-group">
            <label>Commision:</label>
            <input type="number" class="form-control" id="Commision">
        </div>
        <div class="form-group">
            <label>Department:</label>
            <select class="form-control" id="Department"></select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br>
    <br>
    <section>
        <label>Search</label>
        <p><input type="text" ng-model="test.designation" placeholder="Search by designation"></p>
        <p><input type="text" ng-model="test.name" placeholder="Search by Name"></p>

        <table class="table-condensed">
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Manager Id</th>
                <th>Joining Date</th>
                <th>Salary</th>
                <th>Commision</th>
                <th>Department</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
            <tbody ng-repeat="i in empArray | filter:test">
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.mangerId}}</td>
                    <td>{{i.joiningDate}}</td>
                    <td>{{i.salary}}</td>
                    <td>{{i.commission}}</td>
                    <td>{{i.departmentId}}</td>
                    <td><button type="button" ng-click="onEditClick(i)" class="btn btn-default"><i
                                class="glyphicon glyphicon-pencil">
                            </i></button></td>
                    <td><button type="button" ng-click="removeRow(i.id)" class="btn btn-danger"><i
                                class="glyphicon glyphicon-trash">
                            </i></button></td>
                </tr>
            </tbody>
        </table>

    </section>
    <script>
        angular.module('swabhavtechlabs', [])
            .controller('employeeController', ["$scope", "$http", function ($scope, $http) {
                let array = [];
                let objArray = [];
                let employeeObjectArray = [];
                $scope.empArray = [];
                $scope.designation = [];
                $scope.data;
                $scope.mangerId = [];
                $scope.departmentId = [];

                $http({
                    method: 'GET',
                    url: 'https://swabhav-tech.firebaseapp.com/emp.txt'
                }).then(function (response) {
                    $scope.data = response.data;
                    $scope.data = $scope.data.replace(/'/g, '');
                    let array = $scope.data.split('\n');

                    for (var i = 0; i < array.length; i++) {
                        array[i] = array[i].replace(/\s+/g, "");
                    }
                    array = array.filter(function (value, index, self) {
                        return self.indexOf(value) == index;
                    })

                    for (let i = 0; i < array.length; i++) {
                        let row = array[i].split(",");
                        let employeeObject = {
                            id: parseInt(row[0]),
                            name: row[1],
                            designation: row[2],
                            mangerId: parseInt(row[3]),
                            joiningDate: row[4],
                            salary: parseInt(row[5]),
                            commission: parseInt(row[6]),
                            departmentId: parseInt(row[7])
                        }
                        employeeObjectArray.push(employeeObject);
                    }
                    $scope.empArray = employeeObjectArray;

                    for (var i = 0; i < $scope.empArray.length; i++) {
                        $scope.designation.push($scope.empArray[i].designation)
                        $scope.mangerId.push($scope.empArray[i].id)
                        $scope.departmentId.push($scope.empArray[i].departmentId)
                    }
                    console.log($scope.designation)
                    console.log($scope.departmentId);
                    console.log($scope.mangerId)
                })
                $scope.onEditClick = function (value) {
                    $scope.empCopy = value;
                    console.log($scope.empCopy);
                }
                $scope.removeRow = function (value) {
                    console.log(value);
                    var index = -1;
                    for (let i = 0; i < $scope.empArray.length; i++) {
                        if ($scope.empArray[i].id == value) {
                            index = i;
                            break;
                        }

                    }
                    if (index === -1) {
                        alert("Something gone wrong");
                    }
                    $scope.empArray.splice(index, 1);
                }
            }])
    </script>
</body>

</html>