<!DOCTYPE html>
<html lang="en" ng-app="swabhavtechlabs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Service</title>
    <script src="angular.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"> </script>
</head>

<body ng-controller="employeeController">
    <div class="jumbotron">
        <h2> Employee Form</h2>
    </div>
    <form ng-submit="add($event)">
        <div class="form-group">
            <label>Employee Id:</label>
            <input type="number" class="form-control" ng-model="selectedId" id="Id" readonly>
        </div>
        <div class="form-group">
            <label>Employee Name:</label>
            <input type="text" class="form-control" ng-model="selectedName" id="Name">
        </div>
        <div class="form-group">
            <label>Designation:</label>
            <select class="form-control" id="Designation" ng-model="selectedDesignation"
                ng-options="item for item in design"></select>
        </div>
        <div class="form-group">
            <label>Manager Id:</label>
            <select class="form-control" id="ManagerId" ng-model="selectedManagerId"
                ng-options="item for item in mangerId"></select>
        </div>
        <div class="form-group">
            <label>Joining Date:</label>
            <input type="date" class="form-control" id="JoiningDate" ng-model="selectedJoiningDate">
        </div>
        <div class="form-group">
            <label>Salary:</label>
            <input type="number" class="form-control" id="Salary" ng-model="selectedSalary">
        </div>
        <div class="form-group">
            <label>Commision:</label>
            <input type="number" class="form-control" id="Commision" ng-model="selectedCommision">
        </div>
        <div class="form-group">
            <label>Department:</label>
            <select class="form-control" id="Department" ng-model="selectedDepartmentId"
                ng-options="item for item in departmentId"></select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>
        <br>
        <section>
            <label>Search</label>
            <p><input type="text" ng-model="test.designation" placeholder="Search by designation"></p>
            <p><input type="text" ng-model="test.name" placeholder="Search by Name"></p>

            <table class="table-condensed">
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Manager Id</th>
                    <th>Joining Date</th>
                    <th>Salary</th>
                    <th>Commision</th>
                    <th>Department</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
                <tbody ng-repeat="i in empArray | filter:test">
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.designation}}</td>
                        <td>{{i.mangerId}}</td>
                        <td>{{i.joiningDate}}</td>
                        <td>{{i.salary}}</td>
                        <td>{{i.commission}}</td>
                        <td>{{i.departmentId}}</td>
                        <td><button type="button" ng-click="onEditClick(i)" class="btn btn-default"><i
                                    class="glyphicon glyphicon-pencil">
                                </i></button></td>
                        <td><button type="button" ng-click="removeRow(i.id)" class="btn btn-danger"><i
                                    class="glyphicon glyphicon-trash">
                                </i></button></td>
                    </tr>
                </tbody>
            </table>

        </section>
        <script>
            angular.module('swabhavtechlabs', [])
                .factory('EmployeeService', ['$log', '$q', '$http', function ($log, $q, $http) {
                    var employeeService = {};
                    let employeeObjectArray = [];
                    employeeService.getEmployeeData = function () {
                        return $q(function (resolve, reject) {
                            $http({
                                method: 'GET',
                                url: 'https://swabhav-tech.firebaseapp.com/emp.txt'
                            }).then(function (response) {

                                var responseData = response.data;

                                responseData = responseData.replace(/'/g, '');
                                let EmployeeArray = responseData.split('\n');
                                for (var i = 0; i < EmployeeArray.length; i++) {
                                    EmployeeArray[i] = EmployeeArray[i].replace(/\s+/g, "");
                                }
                                EmployeeArray = EmployeeArray.filter(function (value, index, self) {
                                    return self.indexOf(value) == index;
                                })
                                for (let i = 0; i < EmployeeArray.length; i++) {
                                    let row = EmployeeArray[i].split(",");
                                    let employeeObject = {
                                        id: parseInt(row[0]),
                                        name: row[1],
                                        designation: row[2],
                                        mangerId: parseInt(row[3]),
                                        joiningDate: row[4],
                                        salary: parseInt(row[5]),
                                        commission: parseInt(row[6]),
                                        departmentId: parseInt(row[7])
                                    }
                                    employeeObjectArray.push(employeeObject);
                                }
                                console.log(employeeObjectArray);
                                resolve(employeeObjectArray)
                            })
                        })
                    }
                    // employeeService
                    return employeeService;
                }])
                .controller('employeeController', ["$scope", "EmployeeService", function ($scope, EmployeeService) {
                    let array = [];
                    let objArray = [];
                    var designation = [];
                    var departmentId = [];
                    let employeeObjectArray = [];
                    $scope.empArray = [];
                    $scope.design = [];
                    $scope.EmployeeData = [];
                    $scope.mangerId = [];
                    $scope.departmentId = [];

                    EmployeeService.getEmployeeData()
                        .then((r) => {
                            $scope.empArray = r;
                            // console.log($scope.empArray);
                            for (var i = 0; i < $scope.empArray.length; i++) {
                                designation.push($scope.empArray[i].designation)
                                $scope.mangerId.push($scope.empArray[i].id)
                                departmentId.push($scope.empArray[i].departmentId)
                            }

                            designation = designation.filter(function (value, index, self) {
                                return self.indexOf(value) == index;
                            })
                            $scope.design = designation;

                            departmentId = departmentId.filter(function (value, index, self) {
                                return self.indexOf(value) == index;
                            })
                            $scope.departmentId = departmentId;

                        })

                    $scope.onEditClick = function (value) {

                        $scope.selectedId = value.id;
                        $scope.selectedName = value.name;
                        $scope.selectedDepartmentId = value.departmentId;
                        $scope.selectedDesignation = value.designation;
                        $scope.selectedManagerId = value.mangerId;
                        $scope.selectedjoiningDate = value.joiningDate;
                        $scope.selectedSalary = value.salary;
                        $scope.selectedCommission = value.commission;

                    }
                    $scope.removeRow = function (value) {
                        if (confirm("Are you sure you want to delete")) {
                            console.log(value);
                            var index = -1;
                            for (let i = 0; i < $scope.empArray.length; i++) {
                                if ($scope.empArray[i].id == value) {
                                    index = i;
                                    break;
                                }

                            }
                            if (index === -1) {
                                alert("Something gone wrong");
                            }
                            $scope.empArray.splice(index, 1);
                        }
                    }
                    $scope.add = function (event) {
                        var date = new Date();
                        var randomNumber = date.valueOf();
                        $scope.selectedId = randomNumber;

                        let EmployeeObject = {
                            id: randomNumber,
                            name: $scope.selectedName,
                            designation: $scope.selectedDesignation,
                            mangerId: $scope.selectedManagerId,
                            joiningDate: $scope.selectedjoiningDate,
                            salary: $scope.selectedSalary,
                            commission: $scope.selectedCommission,
                            departmentId: $scope.selectedDepartmentId
                        }
                        $scope.empArray.push(EmployeeObject);

                    }
                }])
        </script>
</body>

</html>