<!DOCTYPE html>
<html lang="en" ng-app="swabhavtechlabs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number API Async</title>
    <script src="angular.js"></script>
</head>

<body>
    <div ng-controller='firstController'>
        <form>
            <input ng-model="number">
            <input type="submit" ng-click="submitForm(number)" value="Show data">
        </form>
        <pre>{{ data}}</pre>
    </div>
</body>
<script>
    angular.module('swabhavtechlabs', [])
        .factory('numberservice', ['$log', '$q', '$http', function ($log, $q, $http) {
            var service = {};
            service.getData = function (number) {
                return $q(function (resolve, reject) {
                    $http({
                        method: "GET",
                        url: "http://numbersapi.com/" + number
                    }).then(function mySuccess(response) {
                        resolve(response.data)
                    }, function myError(response) {
                        reject(response.statusText)
                    });
                })
            }
            
            return service;
        }])

        .controller("firstController", function ($scope, numberservice) {

            $scope.submitForm = function (number) {
                numberservice.getData(number)
                    .then((r) => {
                        $scope.data = r;
                    })
                    .catch((r) => {
                        $scope.data = r;
                    })

            }
        })
</script>

</html>