<section>
    <button type="button" class="btn btn-primary">
        Count <span class="badge badge-light">{{count}}</span>
    </button>
    
    <br>
    <br>
    <table class="table table-striped" ng-hide="tableHide">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Roll Number</th>
            <th>Email</th>
            <th>Date</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        <tbody ng-repeat="i in studentArray">
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.rollNo}}</td>
                <td>{{i.email}}</td>
                <td>{{i.date|date:'short'}}</td>
                <td><a href="#/edit/{{i.id}}" class="btn btn-default"><i class="glyphicon glyphicon-pencil">
                        </i></a></td>
                <td><a href="#/delete/{{i.id}}" class="btn btn-danger"><i class="glyphicon glyphicon-trash">
                        </i></a></td>
            </tr>
        </tbody>
    </table>
</section>