<section>
    <form name="studentform">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="selectedName" ng-model="selectedName" required>
            <span ng-show="studentform.selectedName.$touched && studentform.selectedName.$invalid"
                style="color: red">The name is required.</span>
            </p>
        </div>
        <div class="form-group">
            <label>Age:</label>
            <input type="number" class="form-control" ng-model="selectedAge" name="age" required>
        </div>
        <div class="form-group">
            <label>Roll Number:</label>
            <input type="number" class="form-control" ng-model="selectedRollNo" required>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" name="email" ng-model="selectedEmail" required>
            <span ng-show="studentform.$dirty && studentform.email.$invalid" style="color: red">This field is invalid
            </span>
        </div>
        <div class="form-group">
            <label>Gender:</label>
            <select class="form-control" ng-model="selectedGender" ng-options="item for item in gender"
                required></select>
        </div>
        <div class="form-group">
            <label>Date:</label>
            <input type="date" class="form-control" ng-model="selectedDate" required>
        </div>
        <button type="submit" ng-click="add()" ng-disabled="studentform.$invalid" class="btn btn-default">Submit</button>
    </form>
    <br>
    
</section>