<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Select The Colour of Beer You Like :</p>

    <form name="Form" action="http://localhost:8080/beer-app/selectbeer" id="form" method="POST">
    <select name="Colour">
        <option value="light">Light</option>
        <option value="amber">Amber</option>
        <option value="brown">Brown</option>
        <option value="dark">Dark</option>
    </select>
    <br><br>
    <input type="submit" value="Submit Colour">
    </form>
</body>
</html>