<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<filter>
		<description>
		</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.techlabs.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/loginFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>com.techlabs.controllers.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.techlabs.controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransactionController</display-name>
		<servlet-name>TransactionController</servlet-name>
		<servlet-class>com.techlabs.controllers.TransactionController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AccountStatementController</display-name>
		<servlet-name>AccountStatementController</servlet-name>
		<servlet-class>com.techlabs.controllers.AccountStatementController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionController</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountStatementController</servlet-name>
		<url-pattern>/statement</url-pattern>
	</servlet-mapping>
</web-app>